/**********************************/
/*********General*********/
/**********************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

$darkBlue: #202b67;
$lightBlue: #eefbfb;
$orangeCustom: #ff875d;

.darkBlue {
	color: $darkBlue !important;
}

.lightBlue {
	color: $lightBlue !important;
}

.orangeFont {
	color: $orangeCustom !important;
}

.bg-dark {
	background: $darkBlue !important;
}

.bg-light {
	background: $lightBlue !important;
}
.bg-orange {
	background: $orangeCustom !important;
}

* {
	font-family: "Roboto", sans-serif;
	color: $orangeCustom !important;
	font-size: 1.2rem;
}

h1,
h2 {
	font-family: "Dancing Script", cursive;
	font-weight: bold;
	color: $orangeCustom;
	padding: 5px 0px;
	font-size: 2em;
}

h3 {
	text-align: center;
}

h1 text {
	font-size: 3em !important;
}

a {
	text-decoration: none;
}

p {
	padding: 0px 20px;
	text-align: justify;
	font-size: 1rem;
}

body {
	background: linear-gradient(33deg, $darkBlue 0%, $darkBlue 87%, $orangeCustom 94%) !important;
	height: 100%;
}

#headTitle {
	margin-top: 150px;
}

.title::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.title:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.title::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	border: 2px dotted $lightBlue;
	margin: 0px -10px 0px -10px;
	border-radius: 15px;
	z-index: -1;
	transition: transform 0.3s ease;
}

.title {
	position: relative;
	z-index: 0;
	display: inline-block;
}

/**********************
*****NAV**********
**********************/
nav ul li {
	width: 20%;
}

.navbar-toggler {
	color: $orangeCustom !important;
	border: $orangeCustom !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 135, 93, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler-iconBlue {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32, 43, 103, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#experienceNav,
#contactNav {
	color: $darkBlue !important;
}

/**********************
***** PRESENTATION ***
**********************/
#presentation .container {
	margin-top: 50px;
	margin-bottom: 150px;
}

.btn {
	background-color: $orangeCustom;
	color: $darkBlue !important;
	height: 100px;
	width: 300px;
	font-size: 1.5rem;
}

.bi-linkedin {
	font-size: 40px;
}
.bi-github {
	font-size: 40px;
}

#julien {
	border: solid 14px $orangeCustom !important;
	border-radius: 50% !important;
	box-shadow: 3px 8px 10px 4px rgb(0 0 0 / 50%);
}

.hb {
	text-decoration: underline !important;
}

/**********************
***** PORTFOLIO ***
**********************/
#portfolio {
	overflow: hidden;
}

#portfolio .container {
	margin-bottom: 150px;
}

/**********************
***** COMPETENCES ***
**********************/

#competences,
#experience {
	overflow: hidden;
	.container {
		margin-bottom: 150px;
	}
	p {
		text-align: center;
	}
	h3 {
		margin-bottom: 30px;
		text-decoration: underline;
	}
}

.logo {
	// max-width: 100%;
	// max-height: 50px;
	height: 50px;
	width: 70px;
}

/**********************
***** EXPERIENCE ***
**********************/

#experience {
	overflow: hidden;
}

.step {
	position: relative;
	width: 100%;
	width: calc(100% - 20px);
	margin-left: 20px;
	// background: #ecf0f1;
	margin-bottom: 20px;
	border-radius: 10px;
	border-top-left-radius: 0;
	text-align: left;
	padding: 10px;
	box-sizing: border-box;
}

.step::before {
	content: "";
	height: calc(100% + 20px);
	width: 5px;
	background: $orangeCustom;
	position: absolute;
	top: -10px;
	left: -20px;
}

.step::after {
	content: "";
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: $orangeCustom;
	position: absolute;
	top: -10px;
	left: -25px;
}

/**********************
***** FOOTER ***
**********************/

footer {
	margin-top: 75px;
	p {
		font-size: 0.7rem;
	}
}
/**********************
***** TEXT ANIMATION ***
**********************/

/**********************
***** COOKIE BANNER ***
**********************/
.cookiebanner {
	border: 1px solid $orangeCustom;
	padding: 10px 10px 5px 0px !important;
	margin: 0px 10px 0px 10px !important;
	background-color: $darkBlue !important;
}

/**************
******** CHEVRON UP *******
*******************/

.fa-chevron-up {
	position: fixed;
	top: 90%;
	right: 3%;
	border: 3px solid $orangeCustom !important;
}

/************************************/
/* Responsive */
/**********************************/

@media screen and (min-width: 768px) and (max-width: 1000px) {
	body {
		background: linear-gradient(45deg, $darkBlue 0%, $darkBlue 90%, $orangeCustom 95%) !important;
	}
	nav ul li {
		height: 50px;
		a {
			font-size: 0.9rem;
			margin-top: 5px;
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		background: linear-gradient(40deg, $darkBlue 0%, $darkBlue 96%, $orangeCustom 99%) !important;
	}
	nav {
		background-color: transparent;
	}
	nav ul {
		li {
			height: 55px;
			background-color: $orangeCustom;
			width: 40%;
			border: 1px dotted $darkBlue;
		}
		a {
			font-size: 1rem;
			color: $darkBlue !important;
			margin-top: 0px !important;
			padding-top: 15px !important;
		}
	}

	#presentation .container {
		margin-top: 85px;
	}

	h1 text {
		font-size: 2em !important;
	}
}
