/**********************************/
/*********General*********/
/**********************************/
@font-face {
  font-family: "Poppins";
  src: url("/font/poppins/Poppins-Regular.ttf") format("ttf");
  src: url("/font/poppins/Poppins-Bold.ttf") format("ttf");
  font-display: swap;
}
.darkBlue {
  color: #202b67 !important;
}

.lightBlue {
  color: #eefbfb !important;
}

.bg-dark {
  background: #202b67 !important;
}

.bg-light {
  background: #eefbfb !important;
}

* {
  font-family: "Poppins", sans-serif;
  color: #202b67 !important;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-weight: bold;
  padding: 5px 0px;
  font-size: 2rem;
}

h3 a {
  font-size: 1.4rem;
  text-align: center;
  color: #202b67;
}

h1 text {
  font-size: 3em !important;
}

a {
  text-decoration: none;
}

p {
  padding: 0px 20px;
  text-align: start;
  font-size: 1rem;
}

#headTitle {
  margin-top: 150px;
}

.title::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.title:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  border: 2px dotted #202b67;
  margin: 0px -10px 0px -10px;
  border-radius: 15px;
  z-index: -1;
  transition: transform 0.3s ease;
}

.title {
  position: relative;
  z-index: 0;
  display: inline-block;
}

.titleScrolled::before {
  content: " ";
  border: 2px dotted #eefbfb;
}

/**********************
*****NAV**********
**********************/
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 45px;
  z-index: 500;
  width: 100%;
}

/**********************
***** PRESENTATION ***
**********************/
#presentation .container {
  margin-top: 50px;
  margin-bottom: 150px;
}

.bi-linkedin {
  font-size: 30px;
}

.bi-github {
  font-size: 30px;
}

/**********************
***** PORTFOLIO ***
**********************/
#portfolio {
  overflow: hidden;
}

#portfolio .container {
  margin-bottom: 150px;
}

.card {
  height: 600px !important;
  border-radius: 1rem !important;
}

.btn {
  border-radius: 1rem;
}

.btn-primary {
  color: #eefbfb !important;
  background-color: #202b67;
  border-color: #202b67;
}

/**********************
***** COMPETENCES ***
**********************/
#competences,
#experience {
  overflow: hidden;
}
#competences .container,
#experience .container {
  margin-bottom: 150px;
}
#competences p,
#experience p {
  text-align: center;
}
#competences h3,
#experience h3 {
  margin-bottom: 30px;
  text-decoration: underline;
}

.logo {
  height: 50px;
  width: 70px;
}

/**********************
***** EXPERIENCE ***
**********************/
#experience {
  overflow: hidden;
}

.step {
  position: relative;
  width: 100%;
  width: calc(100% - 20px);
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-top-left-radius: 0;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

.step::before {
  content: "";
  height: calc(100% + 20px);
  width: 5px;
  background: #202b67;
  position: absolute;
  top: -10px;
  left: -20px;
}

.step::after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #202b67;
  position: absolute;
  top: -10px;
  left: -25px;
}

/**********************
***** FOOTER ***
**********************/
footer {
  margin-top: 75px;
}
footer p {
  font-size: 0.7rem;
}

/**********************
***** TEXT ANIMATION ***
**********************/
/**********************
***** COOKIE BANNER ***
**********************/
/**************
******** CHEVRON UP *******
*******************/
.fa-chevron-up {
  position: fixed;
  top: 90%;
  left: 5%;
  border: 3px solid #202b67 !important;
}

/************************************/
/* Responsive */
/**********************************/
@media screen and (max-width: 1000px) {
  h3 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  html,
html body,
body {
    width: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
    overflow-x: hidden;
  }
  #headTitle {
    margin-top: 80px;
  }
  #julien {
    height: 150px;
    width: 150px;
  }
  h1 text {
    font-size: 2em !important;
  }
  #presentation .container {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  #portfolio .container {
    margin-bottom: 60px;
  }
}