/**********************************/
/*********General*********/
/**********************************/
@font-face {
	font-family: "Poppins";
	src: url("/font/poppins/Poppins-Regular.ttf") format("ttf");
	src: url("/font/poppins/Poppins-Bold.ttf") format("ttf");
	font-display: swap;
}

$darkBlue: #202b67;
$lightBlue: #eefbfb;

.darkBlue {
	color: $darkBlue !important;
}

.lightBlue {
	color: $lightBlue !important;
}

.bg-dark {
	background: $darkBlue !important;
}

.bg-light {
	background: $lightBlue !important;
}

* {
	font-family: "Poppins", sans-serif;
	color: $darkBlue;
}

h1 {
	font-weight: bold;
	font-size: 3rem;
}

h2 {
	font-weight: bold;
	padding: 5px 0px;
	font-size: 2rem;
}

h3 a {
	font-size: 1.4rem;
	text-align: center;
	color: $darkBlue;
}

h1 text {
	font-size: 3em !important;
}

a {
	text-decoration: none;
}

p {
	padding: 0px 20px;
	text-align: start;
	font-size: 1rem;
}

#headTitle {
	margin-top: 150px;
}

.title::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.title:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.title::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	border: 2px dotted $darkBlue;
	margin: 0px -10px 0px -10px;
	border-radius: 15px;
	z-index: -1;
	transition: transform 0.3s ease;
}

.title {
	position: relative;
	z-index: 0;
	display: inline-block;
}

/**********************
*****NAV**********
**********************/

/**********************
***** PRESENTATION ***
**********************/
#presentation .container {
	margin-top: 50px;
	margin-bottom: 150px;
}

.bi-linkedin {
	font-size: 40px;
}
.bi-github {
	font-size: 40px;
}

#julien {
	border: solid 14px $darkBlue !important;
	border-radius: 50% !important;
	box-shadow: 3px 8px 10px 4px rgb(0 0 0 / 50%);
}

/**********************
***** PORTFOLIO ***
**********************/
#portfolio {
	overflow: hidden;
}

#portfolio .container {
	margin-bottom: 150px;
}

.card {
	height: 600px !important;
	border-radius: 1rem !important;
}
.btn {
	border-radius: 1rem;
}
.btn-primary {
	color: $lightBlue;
	background-color: $darkBlue;
	border-color: $darkBlue;
}

/**********************
***** COMPETENCES ***
**********************/

#competences,
#experience {
	overflow: hidden;
	.container {
		margin-bottom: 150px;
	}
	p {
		text-align: center;
	}
	h3 {
		margin-bottom: 30px;
		text-decoration: underline;
	}
}

.logo {
	height: 50px;
	width: 70px;
}

/**********************
***** EXPERIENCE ***
**********************/

#experience {
	overflow: hidden;
}

.step {
	position: relative;
	width: 100%;
	width: calc(100% - 20px);
	margin-left: 20px;
	// background: #ecf0f1;
	margin-bottom: 20px;
	border-radius: 10px;
	border-top-left-radius: 0;
	text-align: left;
	padding: 10px;
	box-sizing: border-box;
}

.step::before {
	content: "";
	height: calc(100% + 20px);
	width: 5px;
	background: $darkBlue;
	position: absolute;
	top: -10px;
	left: -20px;
}

.step::after {
	content: "";
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: $darkBlue;
	position: absolute;
	top: -10px;
	left: -25px;
}

/**********************
***** FOOTER ***
**********************/

footer {
	margin-top: 75px;
	p {
		font-size: 0.7rem;
	}
}
/**********************
***** TEXT ANIMATION ***
**********************/

/**********************
***** COOKIE BANNER ***
**********************/
.cookiebanner {
	border: 1px solid $darkBlue;
	padding: 10px 10px 5px 0px !important;
	margin: 0px 10px 0px 10px !important;
	background-color: $darkBlue !important;
}

.cookiebanner span,
.cookiebanner div {
	color: $lightBlue;
}

/**************
******** CHEVRON UP *******
*******************/

.fa-chevron-up {
	position: fixed;
	top: 90%;
	right: 3%;
	border: 3px solid $darkBlue !important;
}

/************************************/
/* Responsive */
/**********************************/

@media screen and (max-width: 1000px) {
	h3 {
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 768px) {
	#headTitle {
		margin-top: 80px;
	}
	#julien {
		height: 150px;
		width: 150px;
	}

	h1 text {
		font-size: 2em !important;
	}

	#presentation .container {
		margin-top: 0px;
		margin-bottom: 50px;
	}

	#portfolio .container {
		margin-bottom: 60px;
	}
}
